$main-background-color: #dcd2bd;

$common-icons-color: #308c8c;
$common-icons-color-active: #07b0b0;

$cell-background-color: #978e7b;


$tile-2:#17baba;
$tile-2-shadow: #2d9797;

$tile-4:#2bb55e;
$tile-4-shadow: #179144;

$tile-8: #86b535;
$tile-8-shadow: #6f9b24;

$tile-16: #c9c84b;
$tile-16-shadow: #adac2d;

$tile-32: #d8a331;
$tile-32-shadow: #bf8d21;

$tile-64: #db7036;
$tile-64-shadow: #c65d24;

$tile-128: #d1544e;
$tile-128-shadow: #b73f39;

$tile-256: #c8628d;
$tile-256-shadow: #b74e7a;

$tile-512: #ba5cb2;
$tile-512-shadow: #a14599;

$tile-1024: #9a6cdd;
$tile-1024-shadow: #8455ca;

$tile-2048: #4b96db;
$tile-2048-shadow: #3c7fbc;

$tile-4096:#17baba;
$tile-4096-shadow: #2d9797;

$tile-8192:#2bb55e;
$tile-8192-shadow: #179144;